ul {
    list-style:none;
    
            }
            body {
                font-family: Helvetica;
            }
            .maj {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
            }
            header {
                font-size: 22px;
                text-align: center;
                background-color: darkblue;
                color: white;
                position: fixed;
                padding-left: 10%;
                padding-right: 15.75%;
                top: 2%;
                
            }
            .coordo {
                font-size: 11px;
                background-color:darkblue;
                color: white;
                font-weight: bold;
                padding-left: 10%;
                padding-right: 11%;
                padding-top: 1%;
                padding-bottom: 1%;
                text-transform: uppercase;
                position: fixed;
                top:3.5%
                
            }
            .p1 {
                position: fixed;
                top:37.5%;
                left: 12%;
            }
            .p2 {
                position: fixed;
                top: 46.5%;
                left: 12%;
            }
            .date {
                font-weight: bold;
            }
            .bordure {
                border-width:2px;
                border-color:black;
                border:solid;
                position: fixed;
                top: 0%;
                height: 96%;
                width: 37.2%;
            }
            img {
                position: fixed;
                top: 2.5%;
                left: 4%;
            }